.header-wrapper {
    width: 90%;
    margin: 0 auto;
}
.header-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    
    margin-top: 40px;
    height: 18vh;
}
.index-header-line {
    height: 3px;
    width: 100%;
    background-color: black;
    border-width: 0;
    margin: auto;
    
}
.name-container {
    width: 28%;
    text-align: center;
    font-family: "Arial";
    font-size: xx-large;
   
}
.line-wrapper {
    width: 60%;
}
.line-container {
    width: 100%;
}

.mid-sec-wrapper {
    height: 50vh;
    width: 90%;
    margin: 0 auto;

}
.footer-wrapper {
    width: 90%;
    margin: 0 auto;


}
.footer-container {
   
    height: 22vh;
    display: flex;
    flex-direction: row;
}

.heading-container {
    font-family: "Helvetica";
    font-size: xxx-large;
    justify-content: center;
    width: 50%;
}
.buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;;
    justify-content: space-between;
    
}

button {
    height: 6vh;
    width: 400px;
}
