.header-wrapper {
    width: 90%;
    margin: 0 auto;
    border: 2px solid red;
}
.header-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 40px;
    height: 18vh;
    border: 2px solid green;

}
.contact-header-container {
    justify-content: space-between;
}
.index-header-line {
    height: 3px;
    width: 80%;
    background-color: black;
    border-width: 0;
    margin:0 auto;
    
}
.name-container {
    width: 28%;
    text-align: center;
    font-family: "Arial";
    font-size: xx-large;
    border: 2px solid green;

   
}


.line-container {
    width: 100%;
}


.mid-sec-wrapper, .mid-sec-wrapper-contact {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
    border: 2px solid blue;


}
.mid-sec-wrapper-contact {
    display:flex;
    flex-direction: row;
}
.mid-sec-wrapper{
     display: flex;
    justify-content: center;
    align-items: center;
}
.image-holder-index {
    width: 600px;
}
.image-index {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.footer-wrapper {
    width: 90%;
    margin: 0 auto;
    border: 2px solid red;



}
.footer-container {
   
    height: 22vh;
    display: flex;
    flex-direction: row;
    border: 2px solid green;

}

.heading-container-contact {
    font-family: "Helvetica";
    font-size: xxx-large;
    justify-content: center;
    border: 2px solid green;

}
.heading-container {
    font-family: "Helvetica";
    font-size: xxx-large;
    justify-content: center;
    width: 50%;
    border: 2px solid green;


}


.buttons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;;
    justify-content: space-between;
    
}

button {
    height: 6vh;
    width: 300px;
    border: 0px;
}
.button-text {
    font-weight: 600;
    font-family: "Helvetica";
    font-size: x-large;
    margin: 0;
}
.questions-ul li {
    font-weight: 600;
    font-family: "Helvetica";
    font-size: xxx-large;
    margin-bottom: 20px;
    
}



.adj-footer-contact {
    width: 50%;
    display: flex;
    align-items: center;
}
.questions-ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    border: 2px solid green;    
}

.questions-list-container {
    list-style-type: disc;
    justify-content: center;
}

.email-container, .tel-container {
    width: 50%;
}

.contact-heading-style h3 {
    font-weight: 600;
    font-size: xx-large;
    font-family: "Helvetica";
}
.contact-heading-style p {
    font-size: xx-large;
}
.tel-container {
    margin-left: 200px
}
.questions-list-container {
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
}
.image-container-contact {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}